
{% extends "basic_layout.html" %}


{% block title%}ChessElo. - Leaderboards{% endblock %}


{% block header-right %}
<div class='logout-block' style="float:right">
    <form action="/logout" method="POST">
        {% csrf_token %}
        <div class="logout">{{ user.get_username }}{% if user_elo %} ({{ user_elo }}){% endif %} </div>
        <button type="submit" class="btn btn-light">Log out</button>  
    </form>
</div>
{% endblock %}

{% load mathfilters %}
{% block main %}



<div class="leaderboards-main">
    <div style="margin-bottom: 30px">
        <h2 style="text-align: center;">Leaderboards</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                        
                        <th>Name</th>
                        <th>ELO</th>
                        <th>W/L/T</th>
                        
                </tr>
            </thead>
        {% if elo_list|length %}
            <tbody>
                {% for user in elo_list %}
                    <tr>
                        <td><a href="/account/{{user.username}}" class="usernames">{{user.username}}</a></td>
                        <td>{{user.elo|floatformat:0}}</td>
                        <td>{{user.wins}}/{{user.losses}}/{{user.ties}}</td>
                        {% with total=user.wins|add:user.losses %} 
                            {% if total == 0 %}
                                
                            {% else %}
                                
                            {% endif %}
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    <div>
        <h2 style="text-align: center;">Latest Matches</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                        <th>White</th>
                        <th></th>
                        <th>Black</th>
                        <th>Date</th>
                </tr>
            </thead>
        {% if match_list|length %}
            <tbody>
                {% for match in match_list %}
                    <tr>
                        <td>{{match.user_white}}{% if match.white_win == "win" %}<span class="win"> (Win)</span>{%endif%}{% if match.white_win == "loss" %}<span class="loss"> (Loss)</span>{% endif %}{% if match.white_win == "tie" %} (Tie){% endif %}</td>
                        <td>vs</td>
                        <td>{{match.user_black}}{% if match.white_win == "win" %}<span class="loss"> (Loss)</span>{%endif%}{% if match.white_win == "loss" %}<span class="win"> (Win)</span>{% endif %} {% if match.white_win == "tie" %}(Tie){% endif %}</td>
                        <td>{{match.match_datetime|date:'Y-m-d H:i'}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>





{% endblock %}

{% block footer %}
<div class="footer">
    <i>Created by b.dodewaard@gmail.com.</i>
</div>
{% endblock %}